@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto+Slab:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --aqua: #00c3ff;
    --white: #fff;
}
body {
    //font-family: 'Inconsolata', monospace;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    background-color: var(--aqua);
    color: var(--aqua);
}
input {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
button {
    display: inline-flex;
}
li {
    list-style: none;
}

@import "blocks/*.scss";
